<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Products</title>
  <script src="/app/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/app/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/app/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/site.css"/>

  <script src="/app/node_modules/angular/angular.js"></script>

  <script src="/app/shared/SharedModule.js"></script>
  <script src="/app/product/ProductModule.js"></script>

  <script src="/app/shared/CategoryService.js"></script>
  <script src="/app/shared/ProductService.js"></script>
  <script src="/app/shared/CartFactory.js"></script>

  <script src="/app/shared/PageHeaderController.js"></script>
  <script src="/app/product/ProductListController.js"></script>

</head>
<body class="container" ng-app="ProductModule">
  <div ng-include="'/app/shared/PageHeader.html'"></div>
  Hello
<main class="row" ng-controller="ProductListController">
  <div>
    <h1>Browse the Product Catalog</h1>
    <span>Category:</span>
    <select name="category" id="category" ng-model="category" ng-options="category.categoryName for category in categories"></select>

    <div class="table">
      <section class="row">
        <section>
          <h1>Meat/Poultry</h1>
          <p>Prepared meats</p>
          <div class="row" ng-repeat="product in products | filter: {categoryID: category.categoryID}:true">
            <div class="col-sm-2"><a href="/app/product/productDetail.html">
              <img class="img-responsive" ng-attr-src="/assets/img/ProductImages/{{product.productID}}.jpg"></a></div>
            <div class="col-sm-5"><a href="/app/product/productDetail.html" class="ng-binding">
              {{product.productName}}</a></div>
            <div class="col-sm-3">
              {{product.quantityPerUnit}}
            </div>
            <div class="col-sm-2">{{ product.unitPrice | currency:"USD$"}}</div>
          </div>
        </section>
      </section>
    </div>
  </div>
</main>

<div ng-include="'../shared/footer.html'"></div>
</body>

</html>
